$gt-sm_size: 'screen and (min-width: 768px)'; // Medium devices (tablets, 768px and up)

.card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form, .submit-button {
  width: 100%;
  margin: 0 auto;
  @media #{$gt-sm_size} {
    width: 50%;
  }
}

.width-100 {
  width: 100%;
}

.search-actions {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

