<mat-card>

  <mat-card-header>
    <div mat-card-avatar class="card-avatar">
      <mat-icon aria-label="Search">search</mat-icon>
    </div>
    <mat-card-title>Wyszukiwanie</mat-card-title>
    <mat-card-subtitle>Kryterium wyszukiwanie jest numer NIP</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="searchCompanyForm"
          class="search-form"
          (submit)="searchCompany()">

      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Wpisz NIP firmy (10 cyfr)</mat-label>
        <input matInput
               placeholder="NIP"
               type="text"
               formControlName="nip">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="searchCompanyForm.controls['nip'].hasError('required')">* Podaj numer NIP</mat-error>
        <mat-error *ngIf="!searchCompanyForm.controls['nip'].hasError('pattern') && (searchCompanyForm.controls['nip'].hasError('minlength') || searchCompanyForm.controls['nip'].hasError('maxlength'))">
          * Numer NIP składa się z 10 cyfr (podane: {{searchCompanyForm.controls['nip'].errors?.maxlength?.actualLength || searchCompanyForm.controls['nip'].errors?.minlength?.actualLength}})
        </mat-error>
        <mat-error *ngIf="searchCompanyForm.controls['nip'].hasError('pattern')">* Wprowadź wartości numeryczne</mat-error>
      </mat-form-field>

        <button type="submit"
                class="width-100"
                mat-flat-button
                color="primary">
          Szukaj
        </button>
    </form>

  </mat-card-content>
</mat-card>
