<mat-toolbar color="primary" class="app-toolbar">

  <div>{{appName}}</div>

  <nav class="toolbar-nav">
    <ul>
      <li>
        <a mat-button [routerLink]="['/search']" [routerLinkActive]="'is-active'">
          <mat-icon aria-label="Search">search</mat-icon>
          <span>Szukaj</span>
        </a>
      </li>
      <li>
        <a mat-button [routerLink]="['/about']" [routerLinkActive]="'is-active'">
          <mat-icon aria-label="Author">person</mat-icon>
          <span>Autor</span>
        </a>
      </li>
      <li>
        <a mat-button (click)="openGitHub()">
          <mat-icon aria-label="GitHub">code</mat-icon>
          <span>Kod</span>
        </a>
      </li>
    </ul>
  </nav>

</mat-toolbar>

<div class="container main-container">
  <router-outlet></router-outlet>
</div>
