$gt-sm_size: 'screen and (min-width: 768px)'; // Medium devices (tablets, 768px and up)

.app-toolbar {
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  @media #{$gt-sm_size} {
    padding-top: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.toolbar-nav {
  ul {
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
  }

  li {
    @media #{$gt-sm_size} {
      margin-left: 12px;
    }

    mat-icon {
      margin-right: 12px;
    }

  }
}

.main-container {
  margin-top: 48px;
}

.is-active {
  background-color: rgba(255, 255, 255, .1);
}
